

// .offer-subpage-template


.offer-subpage-jumbotron {
  color: white;

  // WERSJA 1 = WERSJA 2 //  ****
  // background-color: rgba(255, 255, 255, 0.5);
  // background-blend-mode: overlay;
  background-position: left bottom;  
  background-size: cover;
  background-repeat: no-repeat;

  background-color: #73635a !important; // POMARANCZ ciemny !to
  background-blend-mode: overlay;
}