

// _nazwaPliku powoduje że plik nie jset kompilowany z live sass compiler


// Chromatic Colors  ----------------------- //
$comment-mockup-color:  hsla(220, 2%, 51%, 0.2);

$text-white: hsla(220, 20%, 90%, 0.7);

// background 
$gray-transparent: rgba(73, 73, 73, 0.9);
$hardShadow: rgba(0, 0, 0, 0.4);


// Saturated Colors  ----------------------- //


// Shadows  ----------------------- //






// Fonts, Text   ----------------------- //

$font-weight-medium: 700;
$font-weight-normal: 400;
$font-weight-brand: $font-weight-normal;


// Layout   ----------------------- //
$shadow-sm: 0 0.125rem 0.25rem;
$shadow-md: 0 0.125rem 0.5rem;
$shadow: 0 0.5rem 1rem;
$opacity-medium: .35;
$opacity-hard: .5;


$screen-size: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem
);


