/* =======================
        MY PALETTE
 ------------------------- */
/* SCSS HEX */
/* SCSS RGB */
/* SCSS HSL */
/* =======================
        ELEMENTS COLORS
 ------------------------- */
/* =======================
  Fonts, Text
----------------------- */
/* =======================
  Layout
----------------------- */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap");
/* =============================
        TYPOGRAPHY TEXT
================================ */
*, html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

footer, .small {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

footer h1, footer h2, footer h3, footer h4, footer h5, footer h6, .small h1, .small h2, .small h3, .small h4, .small h5, .small h6 {
  font-weight: 500 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

@media (min-width: 1200px) {
  body {
    font-size: 17px;
  }
}

@media (min-width: 1400px) {
  body {
    font-size: 18px;
  }
}

p:not(.jumbotron) {
  text-align: justify;
}

p .jumbotron {
  text-align: left;
}

p, h1, h2, h3, h4, h5, h6 {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

li > p {
  margin: 0;
}

.jumbotron p, .display-1, .display-2, .display-3, .display-4 {
  -webkit-hyphens: manual !important;
      -ms-hyphens: manual !important;
          hyphens: manual !important;
}

.lead-normal {
  font-size: 1.25rem;
}

/* =============================
        RYTHM, TEXT
================================ */
article p + h1, .article p + h1 {
  margin-top: 2.4em;
}

article p + h2, .article p + h2 {
  margin-top: 2.1em;
}

article p + h3, .article p + h3 {
  margin-top: 1.8em;
}

article p + h4, .article p + h4 {
  margin-top: 1.5em;
}

p + figure {
  margin-top: 1.5rem;
}

figure + p {
  margin-top: 1.5rem;
}

/* =============================
        BASE ELEMENT STYLES
================================ */
/* tags --------------------- */
html, body, main, header, footer {
  max-width: 100% !important;
}

ul {
  overflow: hidden;
}

a, .fake-link {
  color: #005bbd;
  cursor: pointer;
}

a:hover, .fake-link:hover {
  text-decoration: underline;
}

blockquote {
  border-left: solid 0.25rem #456e96;
  padding-left: 1rem;
}

table li {
  list-style: none;
  list-style-type: none;
}

tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

@media (min-width: 576px) {
  #kontakt h2, #kontakt h3, #kontakt address {
    min-width: -webkit-max-content;
    min-width: -moz-max-content;
    min-width: max-content;
  }
}

.openning-hours {
  max-width: 16em;
}

.openning-hours p {
  max-width: 100% !important;
}

.openning-hours table {
  width: 100%;
}

.openning-hours tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.openning-hours th + td {
  margin-left: auto;
}

.openning-hours td + td {
  margin-left: 1.5rem;
}

.openning-hours td {
  font-weight: normal;
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
}

.text-color {
  color: #456e96;
}

.bg-dark a, .bg-dark a:hover, .bg-dark .fake-link:hover {
  color: #afd6ff;
}

.link-light, .link-light:hover {
  color: #afd6ff;
}

footer {
  min-height: 10rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.display-1, .display-2, .display-3, .display-4 {
  font-weight: normal;
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);
}

.col-sm, .col-md, .col-lg, .col-xl {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.flex-basis-0 {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

#navbar-main {
  -webkit-box-shadow: 0 0.125rem 0.12rem 0.01rem rgba(0, 0, 0, 0.25);
          box-shadow: 0 0.125rem 0.12rem 0.01rem rgba(0, 0, 0, 0.25);
  min-height: 5rem;
  max-width: 100vw;
  text-transform: uppercase !important;
}

#navbar-main .navbar-brand {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
}

#navbar-main .navbar-brand span {
  display: block;
}

#navbar-main .navbar-brand span:first-child {
  font-size: 1.6rem;
  text-transform: uppercase !important;
  font-weight: 700;
}

#navbar-main .navbar-brand span:last-child {
  text-transform: uppercase !important;
  font-weight: 300;
  font-size: 1.0rem;
}

#navbar-main.bg-light {
  background-color: #e3e0db80 !important;
}

#navbar-main.bg-dark {
  background: #242833 !important;
}

.bg-dark {
  background-color: #242833 !important;
}

.bg-dark.bg-opacity-50 {
  background-color: #5b5f6a !important;
}

.btn-secondary {
  background-color: #242833 !important;
  border-color: #242833 !important;
}

.btn-secondary:hover {
  text-decoration: underline;
}

.btn-outline-secondary {
  color: #242833 !important;
  border-color: #242833 !important;
}

/* =============================
            LAYOUT
================================ */
main {
  padding-top: 5rem;
}

#index-page main {
  padding-top: 0;
}

.jumbotron {
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 768px) {
  .jumbotron {
    text-align: center;
  }
  .jumbotron p {
    text-align: center;
  }
}

#gatsby-focus-wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#gatsby-focus-wrapper .main-layout-wrapper {
  -webkit-box-flex: 5;
      -ms-flex-positive: 5;
          flex-grow: 5;
  min-height: 50vh;
}

/* =============================
  COMPONENTS BUNDLE 
================================ */
/* =======================
        MY PALETTE
 ------------------------- */
/* SCSS HEX */
/* SCSS RGB */
/* SCSS HSL */
/* =======================
        ELEMENTS COLORS
 ------------------------- */
/* =======================
  Fonts, Text
----------------------- */
/* =======================
  Layout
----------------------- */
#carousel-hero .carousel-caption {
  text-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.5);
}

#carousel-hero #fotowoltaika {
  background-color: #ff5b0234;
  background-blend-mode: soft-light;
}

#carousel-hero #nasza-oferta {
  /* ======================== */
  background-color: #38140036;
  background-blend-mode: overlay;
}

#carousel-hero .carousel-item {
  min-height: 100vh !important;
  background-color: #E3E0DB77;
  background-blend-mode: soft-light;
}

@media (max-width: 768px) {
  #carousel-hero #instalacje-co {
    background-position-x: -190px;
    background-size: cover;
  }
}

@media (min-width: 768px) {
  #carousel-hero .carousel-item {
    min-height: 100vmin !important;
  }
}

@media (min-width: 992px) {
  #carousel-hero .carousel-item {
    min-height: 100vmin !important;
  }
  #carousel-hero .display-1 {
    font-weight: normal;
  }
}

#carousel-hero .carousel-item {
  -webkit-transition: opacity 1s ease-out, -webkit-transform 2s ease;
  transition: opacity 1s ease-out, -webkit-transform 2s ease;
  transition: transform 2s ease, opacity 1s ease-out;
  transition: transform 2s ease, opacity 1s ease-out, -webkit-transform 2s ease;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: scroll;
}

a .card {
  color: inherit !important;
}

.card {
  /* Pre-render the bigger shadow, but hide it */
  -webkit-transition: -webkit-box-shadow .15s ease-in, -webkit-transform .15s ease-in;
  transition: -webkit-box-shadow .15s ease-in, -webkit-transform .15s ease-in;
  transition: box-shadow .15s ease-in, transform .15s ease-in;
  transition: box-shadow .15s ease-in, transform .15s ease-in, -webkit-box-shadow .15s ease-in, -webkit-transform .15s ease-in;
}

.card img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  aspect-ratio: 1 !important;
}

.card:hover {
  -webkit-box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.25) !important;
          box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.25) !important;
  -webkit-transform: scale(1.025);
          transform: scale(1.025);
}

.jumbotron-hero {
  padding: 10rem 0;
  min-height: 60vh;
  background-color: #f9eada;
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron-hero:not(:first-child) {
  margin-top: 5.2rem !important;
}

main + .jumbotron-hero {
  padding-top: 15rem !important;
  color: red !important;
}

/* =============================
    KONTAKT
----------------------------- */
#main-wrapper {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* WAZNE ZESTAW 1*/
  background-color: rgba(0, 0, 0, 0.65);
  background-blend-mode: multiply;
}

#main {
  color: white !important;
  /* color: black !important; */
}

.full-height {
  min-height: 95vh;
}

.map-iframe-mysizes {
  max-height: 60vmax;
}

.map-iframe-mysizes::before {
  padding-top: 100%;
}

@media (orientation: landscape) {
  .map-iframe-mysizes {
    max-height: 95vh;
  }
}

@media (min-width: 992px) {
  .map-iframe-mysizes {
    max-height: 60vmin;
  }
}

.contact-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  /* WAZNE ZESTAW 1*/
  background-color: rgba(0, 0, 0, 0.65);
  background-blend-mode: multiply;
}

.contact-section h2 {
  font-size: 2em !important;
}

.contact-section .contact-row {
  font-weight: normal;
}

.contact-section .contact-row {
  font-size: 1.25rem !important;
}

/* =================
    TEXT, FONTS
 =================== */
.display-1, .display-2, .display-3, .display-4 {
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold !important;
  text-transform: uppercase;
}

.display-1 {
  font-size: 2.9rem;
}

.display-2 {
  font-size: 2.4rem;
}

.display-3 {
  font-size: 2rem;
}

.display-4 {
  font-size: 1.6rem;
}

@media (min-width: 576px) {
  .display-1 {
    font-size: 3.6rem;
  }
  .display-2 {
    font-size: 3rem;
  }
  .display-3 {
    font-size: 2.5rem;
  }
  .display-4 {
    font-size: 2rem;
  }
}

@media (min-width: 992px) {
  .display-1 {
    font-size: 5.5rem;
  }
  .display-2 {
    font-size: 4.5rem;
  }
  .display-3 {
    font-size: 3.5rem;
  }
  .display-4 {
    font-size: 2.5rem;
  }
}

.cookie-consent-button {
  min-width: -webkit-max-content;
  min-width: -moz-max-content;
  min-width: max-content;
  max-width: 12rem;
  margin-left: auto;
}

.top-nav-margin {
  padding-top: 10rem !important;
}

@-webkit-keyframes arrowLinkMoove {
  0% {
  }
  100% {
  }
}

@keyframes arrowLinkMoove {
  0% {
  }
  100% {
  }
}

.arrow-link {
  display: inline-block;
  position: relative;
  -webkit-transform: translateX(0) 0.25s ease;
          transform: translateX(0) 0.25s ease;
  -webkit-transition-duration: .25s;
          transition-duration: .25s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.arrow-link::before {
  visibility: visible;
  color: inherit !important;
  position: relative;
  content: '\2190';
  min-width: 5rem;
}

.arrow-link:hover {
  -webkit-transform: translateX(-0.5rem);
          transform: translateX(-0.5rem);
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}
/*# sourceMappingURL=layout.css.map */