@import '_variables.scss';

// PROMPT - NAGŁÓWKI 
// @import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,300;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap');

/* =============================
        TYPOGRAPHY TEXT
================================ */


* ,html {
  box-sizing: border-box;
}

// h1,h2,h3,h4, p, #navbarMain { // html, body, 
html, body { // 
  font-family: $lato-font-family;
}
footer, .small {
  font-family: $bootstrap-font-family;
  h1,h2,h3,h4, h5, h6 {
    font-weight: 500 !important;
  }  
}

h1,h2,h3,h4, h5, h6 {
  font-weight: bold;
}
// article {
//   h1,h2,h3,h4, h5, h6 {
//     font-weight: normal;
//   }
// }


body {
  // overflow-wrap: break-word;
  // font-size: 16px;
  @media (min-width: map-get($screen-size, xl)) {
    font-size: 17px;
  }

  @media (min-width: map-get($screen-size, xxl)) {
    font-size: 18px;
  }
}


p {
  &:not(.jumbotron) {
    text-align: justify;    
  }
  .jumbotron {
    text-align: left;    
  }  
}

p, h1, h2, h3, h4, h5, h6 {
  hyphens: auto;
}

li>p {
  margin: 0;
}

.jumbotron p, .display-1, .display-2, .display-3, .display-4 {
  hyphens: manual !important;
}

.lead-normal {
  font-size: 1.25rem;
}



/* =============================
        RYTHM, TEXT
================================ */
// .h2, h2 {
//   font-size: 2rem;
// }

// p: 1.5em,    h6: 1.5em*1.5, h5: 1.5em*2, h4: 1.5em*2.5, h3: 1.5em*3, h2: 1.5em*3.5, h1: 1.5em*4

article, .article {
  p + h1 {
    margin-top: 1.2em*2; //
  }
  p + h2 {
    margin-top: 1.2em*1.75; //
  }
  p + h3 {
    margin-top: 1.2em*1.5; //
  }
  p + h4 {
    margin-top: 1.2em*1.25; //
  }
}

p + figure {
  margin-top: 1.5rem;
}
figure + p {
  margin-top: 1.5rem;
}
// p + img {

// }



/* =============================
        BASE ELEMENT STYLES
================================ */

/* tags --------------------- */


html, body, main, header, footer {
  max-width: 100% !important; 
}

ul {
  overflow: hidden;
}

//  LINKI 


a, .fake-link {
  color: #005bbd;  
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}

button.fake-link {
  background: inherit;
  display: block;
  border: none;
  margin: 0; 
  padding: 0;
}


blockquote {
  border-left: solid .25rem $marckul-secondary-color-dark;
  padding-left: 1rem;
}


table li {
  list-style: none;
  list-style-type: none;
}
tr {
  display: flex;
  width: 100%;
}

#kontakt {
  
  @media (min-width: map-get($screen-size, sm )) {
    h2, h3, address {
      min-width: max-content;
    }
  }
  
}
.openning-hours {
  max-width: 16em;
  p {
    max-width: 100% !important;
  }

  table {
    width: 100%;
    // max-width: 15.5em;
  }
  tr {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  th + td {
    margin-left: auto;
  }
  td + td {
    margin-left: 1.5rem;
  }
  td {
    font-weight: normal;
    min-width: max-content;
  }
}

.text-color {
  color: $marckul-secondary-color-dark;
}


.bg-dark {
  a, a:hover, .fake-link:hover {
    color: #afd6ff;
  }
}
.link-light, .link-light:hover {
  color: #afd6ff;
}


footer {
  min-height: 10rem;
  align-items: center;
  justify-content: center;
}

.display-1, .display-2, .display-3, .display-4 {
  font-weight: normal;
  text-shadow: $shadow-sm map-get($shadow-color, light);
}

.col-sm, .col-md, .col-lg, .col-xl {
  width: fit-content;
}


.flex-basis-0 {
  flex-basis: 0;
}






// HEADER
#navbar-main { //to był .navbar
  box-shadow: $shadow-xs .01rem map-get($shadow-color, light);

  min-height: 5rem;
  max-width: 100vw;
  text-transform: uppercase !important;
  
  .navbar-brand {
    font-family: $brand-font-family;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1;    
    span {
      display: block;
      &:first-child {
        font-size: 1.6rem;
        text-transform: uppercase !important;
        font-weight: 700;
      }
      &:last-child {
        text-transform: uppercase !important;
        font-weight: 300;
        font-size: 1.0rem;
      }
    }
  }
}

// ===============================================
// 23.04.2021
#navbar-main { 
  &.bg-light {
    background-color: #e3e0db80 !important;
  }
  &.bg-dark {
    background: $marckul-color-primary !important;
  }
}

.bg-dark {
  background-color: $marckul-color-primary !important;

  &.bg-opacity-50 {
    background-color: $marckul-color-primary+55 !important;
  }
}


.btn-secondary {
  background-color: $marckul-color-primary !important;
  border-color: $marckul-color-primary !important;
  &:hover {
    text-decoration: underline;
    // box-shadow: $shadow-md rgba(255, 255, 255, 0.507);
  }
  // border-radius: 25% / 50%;
}

.btn-outline-secondary {
  color: $marckul-color-primary !important;
  border-color: $marckul-color-primary !important;  
}



/* =============================
            LAYOUT
================================ */
$nav-height: 5rem;
$jumbotron-hero-padding: 10rem;

main {
  padding-top: $nav-height;
}

#index-page {
  main {
    padding-top: 0;
  }
}

.jumbotron {
  padding-left: 0;
  padding-right: 0;
  @media (max-width: map-get($screen-size, md )) {
    p {
      text-align: center;
    }
    text-align: center;
  }
  
}

#gatsby-focus-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
    
  .main-layout-wrapper {
    flex-grow: 5;
    min-height: 50vh;
  }
}



/* =============================
  COMPONENTS BUNDLE 
================================ */

@import 'stylesModules/_carousel-hero.scss';
@import 'stylesModules/_components-bundle.scss';


// CARD
a {
  .card {
    color: inherit !important;
  }
}
.card {

  img {
    object-fit: contain;
    height: 100%;
    aspect-ratio: 1 !important;    
    // mix-blend-mode: multiply NIE DZIAŁA W FIREFOX
  }


  /* Pre-render the bigger shadow, but hide it */
  // &::after {
  //   // box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  //   content: "";
  //   box-shadow: $shadow-hover map-get($shadow-color, light) !important;
  //   opacity: 0;
  //   transition: opacity 0.3s ease-in-out;

  //   /* Transition to showing the bigger shadow on hover */
  //   &:hover {
  //     opacity: 1;
  //   }
  // }
  transition: box-shadow .15s ease-in, transform .15s ease-in;
  

  &:hover {
    // box-shadow: $shadow-lg map-get($shadow-color, very-light) !important;
    box-shadow: $shadow-hover map-get($shadow-color, light) !important;
    transform: scale(1.025);    
  }
}


// CIEMNY BŁĘKIT
// $x: 6;
// $jumbotron-color: ($queen-blue + $x*#ffffff)/($x+1);//$timberwolf+a1;

// JASNY BŁĘKIT
// $x: 2;
// $jumbotron-color: ($pale-cerulean + $x*#ffffff)/($x + 1);//$timberwolf+a1;

// CIEPŁE KOLORY 
// // $pale-cerulean-medium
// $x: 3;
// $jumbotron-color: ($liver-chestnut + $x*#ffffff)/($x+1);//$timberwolf+a1;

// JASNY PIASEK
// $x: 6; //$x: 0.25;
// $y: 0; //$x: 0.25;
// $jumbotron-color: ($banana + $x*#fff + $y*#000)/($x + $y + 1);//$timberwolf+a1;

// JASNY PIASKOWIEC 1
// $x: 6; //$x: 0.25;
// $y: 0; //$x: 0.25;
// $jumbotron-color: ($mango + $x*#fff + $y*#000)/($x + $y + 1);//$timberwolf+a1;

// // JASNY PIASKOWIEC 2
// $x: 5; // $x: 6
// $y: 0; 
// $jumbotron-color: ($orange + $x*#fff + $y*#000)/($x + $y + 1);//$timberwolf+a1;

$jumbotron-color: #f9eada;




.jumbotron-hero {
  padding: $jumbotron-hero-padding 0;
  min-height: 60vh; // do 10-06-2021

  // &:first-of-type {
  //   // padding-top: $jumbotron-hero-padding + 5rem !important;
  // }
  &:not(:first-child) {
    margin-top: 5.2rem !important; // TO DEL
  }

  // background-color: #025bff34; // SZARO NIEBIESKI
  background-color: $jumbotron-color; // SZARO NIEBIESKI
  background-position: left;  
  background-size: cover;
  background-repeat: no-repeat;
}


main + .jumbotron-hero {
  padding-top: $jumbotron-hero-padding + 5rem !important;
  color: red !important;
}


@import './stylesModules/_index-page.scss';
@import '_experimental.scss';





