@import '../variables/';


#carousel-hero {
  
  
  .display-1 {
    font-size: 4rem;
  }

  .carousel-caption {
    // color: #343a40 !important;
    // text-shadow: $shadow-sm rgba(31, 29, 29, 0.75);
    text-shadow: $shadow-sm map-get($shadow-color, medium);
    
  }

  #fotowoltaika {
    background-color: #ff5b0234; // POMARANCZ
    background-blend-mode: soft-light;
  }

  #nasza-oferta {
    // background-color: #ff5b0234; // POMARANCZ
    // background-blend-mode: soft-light;
    
    /* ======================== */ 
    // background-color: #812d0034; // POMARANCZ ciemny
    background-color: #38140036; // POMARANCZ ciemny
    background-blend-mode: overlay;
  }
  
  .carousel-item {
    min-height: 100vh !important;
    
    background-color: #E3E0DB77; // COLOR2
    background-blend-mode: soft-light;
  } 



  @media (max-width: map-get($screen-size, md)) {
    #instalacje-co {
      background-position-x: -190px;     
      background-size: cover;
    }
  }  
  
  @media (min-width: map-get($screen-size, md)) {
    .carousel-item {
      min-height: 100vmin !important;
    } 
  }
  
  @media (min-width: map-get($screen-size, lg)) {
    .carousel-item {
      min-height: 100vmin !important;
    } 
    .display-1 {
      font-size: 5rem; // BYLO 6rem
      font-weight: normal;
    }
  }

  .carousel-item {
    transition: transform 2s ease, opacity 1s ease-out;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
  }
}
