@import '../variables/';


.oferta {

  .col-md {
    min-width: 50%;
  }
  
  
  // ======================================

  section:first-child {
    &>div {
      padding-top: 5rem !important;
    }

  }


  section {
    
    &>div {
      padding-top: 6rem;
      padding-bottom: 6rem;
      min-height: 60vh;
    }
    // --->   DOTAD   <---

    // h1:first-child  {
    //   // font-size: 3.5rem;
    //   font-weight: normal;
    //   // line-height: 1.2;
    // }

    figure {
      margin: 2rem 0;
    }
  }

  ol, ul{
    li {
      p {
        margin: 0;
      }
    }
  }

    
  section>div:first-child {
    // background-color: #ff9a0234; // POMARANCZ
    background-color: #025bff34; // POMARANCZ
  }


  .main-offer-1 {
    margin-top: 5.2rem !important; // TO DEL

    background-position: left;  
    background-size: cover;
    background-repeat: no-repeat;

    // background-color: #ff5b0234 !important; // POMARANCZ
    // background-blend-mode: soft-light;
  }

  .main-offer-2 {
    margin-top: 5.2rem !important; // TO DEL
    color: white;

    background-position: left;  
    background-size: cover;
    background-repeat: no-repeat;

    // background-color: #38140036 !important; // POMARANCZ ciemny  

    background-color: #3b211277 !important; // POMARANCZ ciemny !to

    // background-color: #3a3a3a77 !important; // POMARANCZ ciemny
    // background-color: #00000077 !important; // POMARANCZ ciemny
    background-blend-mode: overlay;

    // background-color: #ff5b0234 !important; // POMARANCZ
    // background-blend-mode: soft-light;
  }





  .oferta-style1 {
    background-color: inherit;
  }

}






