
@import '../variables/';


.oferta {

  .main-offer {
    .jumbotron {
      // padding-top: 10rem !important;
      color: white;

      background-position: left;  
      background-size: cover;
      background-repeat: no-repeat;
  
      background-color: #3b211277 !important; // POMARANCZ ciemny !to
      background-blend-mode: overlay;
      border-radius: 0;
    }    
  }

  .section {
    .jumbotron {
      // margin-top: 5.2rem !important; // TO DEL
      // margin-bottom: 3rem !important; 

      // background-color: #025bff34; // SZARO NIEBIESKI
      background-position: left;  
      background-size: cover;
      background-repeat: no-repeat;
    }    
  }
  .jumbotron {
    @media (max-width: map-get($screen-size, md )) {
      text-align: center;
    }

    padding-top: 6rem;
    padding-bottom: 6rem;
    min-height: 60vh;
    
    
  }

  section {    
    &>div {
      // padding-top: 6rem;
      // padding-bottom: 6rem;
      min-height: 60vh;
    }
  }

  .section-body { 
    .container {
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
    margin-top: 0;    
    background-color: white; /* inherit */ 
  }



  .col-md {
    min-width: 50%;
  }

  section {
    h1:first-child  {
      font-weight: normal;
    }

    figure {
      margin: 0rem 0;
    }

    ol, ul{
      li {
        p {
          margin: 0;
        }
      }
    }

    
  }


}






